.b {
    border-color: aliceblue;
    border-width: medium;
    border-style: solid;
    background-color: #2a2a2a;
    margin: 10px;
    padding: 15px;
    max-width: fit-content;
}
.l{
    display: grid;
}
