    <div class="col b">
        <form 
            class="formulario"
            [formGroup]="crudForm"
            autocomplete="off"
            (ngSubmit)="onFormSubmit()">

            <!-- Nombre -->
            <div>
                <label>Nombre de Usuario</label>
                <div>
                    <span class="p-input-icon-right">
                        <i *ngIf="launchError('name')" class="pi pi-ban" style="color:brown"></i>
                        <i *ngIf="!launchError('name') && !unTouchedInput('name')" class="pi pi-check" style="color:green"></i>
                        <input 
                            type="text"
                            formControlName="name"
                            class="form-control"
                            pInputText 
                            placeholder="Nombre del usuario"
                            id="idName">        
                    </span> 
                </div>
                <span *ngIf="launchError('name')">
                    Introduzca nombre y apellido.
                </span>
            </div>

            <!-- Mail -->
            <div>
                <label>Mail</label>
                <div>
                    <span class="p-input-icon-right">
                        <i *ngIf="launchError('mail')" class="pi pi-ban" style="color:brown"></i>
                        <i *ngIf="!launchError('mail') && !unTouchedInput('mail')" class="pi pi-check" style="color:green"></i>
                        <input 
                            type="email"
                            formControlName="mail"
                            class="form-control"
                            pInputText 
                            placeholder="Email del usuario">        
                    </span> 
                </div>
                <span *ngIf="launchError('mail')">
                        Escriba correctamente su correo electrónico.
                </span>
            </div>

            <!-- Password -->
            <div>
                <label>Contraseña</label>
                <div>
                    <span class="p-input-icon-right">
                        <i *ngIf="launchError('password')" class="pi pi-ban" style="color:brown"></i>
                        <i *ngIf="!launchError('password') && !unTouchedInput('password')" class="pi pi-check" style="color:green"></i>
                        <input 
                            type="password"
                            formControlName="password"
                            class="form-control"
                            pInputText 
                            placeholder="Contraseña">        
                    </span> 
                </div>
                <span *ngIf="launchError('password')">
                        La contraseña debe ser de al menos 6 caracteres.
                </span>
            </div>

            <!-- Confirmar Password -->
            <div>
                <label>Confirmar Contraseña</label>
                <div>
                    <span class="p-input-icon-right">
                        <i *ngIf="!passConfirmation()" class="pi pi-ban" style="color:brown"></i>
                        <i *ngIf="passConfirmation() && !unTouchedInput('password')" class="pi pi-check" style="color:green"></i>
                        <input 
                            type="password"
                            formControlName="passwordConfirm"
                            class="form-control"
                            pInputText 
                            placeholder="Confirmar Contraseña">        
                    </span> 
                </div>
                <span *ngIf="!passConfirmation()">
                        Las contraseñas deben de ser iguales.
                </span>
            </div>
            <!-- CheckBox -->
            <div>
                <div>
                    <p-checkbox 
                        formControlName="checkBoxPromotion"
                        [binary]="true"
                        falseValue></p-checkbox>
                    <label> Envíame ofertas promocionales</label>
                </div>
            </div>
            <!-- Paises -->
            <div>
                <label>País</label>
                <div>
                    <p-dropdown 
                        class="form-control"
                        formControlName="formCountry"
                        [options]='countries'
                        optionLabel="country"
                        placeholder="Seleccione un país"
                        [filter]="true" 
                        filterBy="country" 
                        [showClear]="true"> 
                    </p-dropdown>
                </div>
                <span *ngIf="launchError('country')">
                        Seleccione un país.
                </span>
            </div>
            <!--Ciudad-->
            <div>
                <label>Ciudad</label>
                <div>
                    <p-dropdown 
                        class="form-control"
                        formControlName="formCity"
                        [options]='cities'
                        placeholder="Seleccione una ciudad">
                    </p-dropdown>
                </div>
                <span *ngIf="launchError('city')">
                        Seleccione una ciudad.
                </span>
            </div>
            <button
                pButton 
                *ngIf="!editing && reCheckAll('name','mail','password','passwordConfirm')"
                label="Crear"
                (click)="onFormSubmit()"></button>
            <button 
                pButton
                *ngIf="editing && !reCheckAll('name','mail','password','passwordConfirm')"
                label="Guardar"
                (click)="edit()"></button>
        </form>
    </div>

    <app-crud-table [message]="editing"             
                    (messageToForm)="message($event)"></app-crud-table>

