
<div class="b">
    <h1>Formulario de Registro</h1>
    <!-- 

        <button (click)="firstWay()">Con TypeScript e <i>import Statement</i></button>
    -->
    <!--Nombre de usuario-->
    <div class="l">
        <label>Nombre de usuario</label>
        <input 
            type="text" 
            class="form-control"
            formControlName="name">
    </div>

    <!--Contraseña-->
    <div class="l">
        <label>Contraseña</label>
        <input 
            type="password" 
            class="form-control"
            formControlName="pass">
    </div>

    <!--Confirma la Contraseña-->
    <div class="l">
        <label>Confirma la Contraseña</label>
        <input 
            type="password" 
            class="form-control"
            formControlName="passConfirm">
    </div>

    <!--Correo-->
    <div class="l">
        <label>Correo</label>
        <input 
            type="email" 
            class="form-control"
            formControlName="mail">
    </div>

    <!--checkbox-->
    <div>
        
    </div>
    <!--País-->
    <div class="l">
        <label>País</label>
        <input 
            type="texts" 
            class="form-control"
            formControlName="country">
    </div>
    <div class="l">
        <label>Ciudad</label>
        <input 
            type="text" 
            class="form-control"
            formControlName="city">
    </div>
    <button pButton label="Crear" style="margin: 5px;"></button>   
</div>


 <!--
    <select name="miselect">
        <option 
        [value]="item" 
        *ngFor="let country of country"
        >{{country.country}}</option>
    </select>
    {{infoPagina.info.data.country}}
    {{infoPagina.info.country}}
    {{test.infoPagina.data.country}}
    {{infoPagina.info.titulo}}

    <p-dropdown 
    class="form-control"
    formControlName="country"
    [options]="infoPagina.info.country"
    placeholder="Seleccione un país"></p-dropdown>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th> # </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of infoPagina.info.country">
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>{{infoPagina.info|json}}

    <select name="miselect">
    <option 
    [value]="titulo" 
    *ngFor="let titulo of infoPagina.info"
    >{{infoPagina.info.titulo}}</option>
</select>
--> 

<p-dropdown 
    class="form-control"
    formControlName="titulo"
    [options]="infoPagina.info"

    placeholder="Seleccione un país"></p-dropdown>