<div class="text-center">
    <h1>Display Hide</h1>
    <h2>Who is that Pokemon?</h2>
</div>
<div>
    <button 
        pButton 
        type="button" 
        [label]="isVisible | titlecase"
        (click)="displayHide()">
</button>
</div>
<div>
    <img 
        [src]="imgOne"
        [style.visibility]="isVisible"
        (click)="easterEgg()"
        alt="For a easter click on the image.">
        <!--EasterEgg-->
    <img 
        [src]="imgTwo"
        [style.visibility]="eEgg"
        (click)="displayHide()">
</div>
    

