img {
    display: inline;
    position:absolute;
    height:400px;
    width:400px;
    margin-top: 50px;
    margin-left: 43%;
}
button {
    position:absolute;
    height:50px;
    width:300px;
    margin-left: 43%;
}
.text-center {
    text-align: center;
}