<div class="b">
    <p-table columnResizeMode="fit" [value]="users" responsiveLayout="scroll">
        <ng-template pTemplate="header">
        <tr>
            <th>Nombre de Usuario</th>
            <th>Correo</th>
            <th>Suscrito</th>
            <th>País</th>
            <th>Ciudad</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.mail}}</td>
            <td>
                <i  class="pi"
                    [ngClass]="{'true-icon pi-check':  user.promotion == true, 'false-icon pi-ban':  user.promotion == false}"></i>
            <td>{{user.country}}</td>
            <td>{{user.city}}</td>
            <td><button 
                    pButton 
                    pRipple 
                    type="button" 
                    icon="pi pi-pencil"
                    (click)="toForm()"></button>
                <button 
                    pButton 
                    pRipple 
                    type="button" 
                    icon="pi pi-ban"
                    class="p-button-rounded"
                    (click)="deleteUser( user )"></button></td>
        </tr>
    </ng-template>
</p-table>
</div>