<table class="table table-hover">
    <thead>
        <tr>
            <th> Nombre de usuario </th>
            <th> Correo </th>
            <th> Suscrito </th>
            <th> País </th>
            <th> Ciudad </th>
            <th> Actions </th>
        </tr>
    </thead>
 <!-- 

     <tbody>
         <tr *ngFor="let country of countries; let i = index"
         class="animate__animated animate__fadeIn animate__faster">
         <td> {{ i + 1 }} </td>
         <td> {{ data.name }} </td>
        </tr>
    </tbody>
    
-->
</table>