html{
  background-color: #E1DADA;
}
@media(max-width:400px){
  #main-doc{
    margin-left: -5px;
  }
}
footer{
  text-align: center;
  margin-top: 30px;
}
#navbar{
  position: fixed;
  width: 300px;
  border-color: #000000;
  border-right: solid;
  border-bottom: solid;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-bottom: 30px;
  background-color: #F7F0F0;
}
#main-doc{
  margin-left: 305px;
  text-align: left;
  border-top: solid;
  border-left: solid;
  background-color: #F7F0F0;
  padding-bottom: 30px;
}