<div class="f">
    <form>
        <label for="uname">Nombre de usuario: </label>
        <input type="text" id="uname" name="name">

        <label for="upass">Contraseña: </label>
        <input type="text" id="upass" name="pass">

        <label for="ucpass">Confirmar la contraseña: </label>
        <input type="text" id="ucpass" name="cpass">

        <label for="uemail">Correo: </label>
        <input type="text" id="uemail" name="email">

        <button pButton label="Crear"></button>
    </form>
</div>