
<app-menu></app-menu>

<!--
<div class="text-layout">
    <h1> {{ nombre | titlecase }} </h1>
    <h1> {{ valor | number }} </h1>
    <h1> {{ obj | json }} </h1>
</div>
<p-card 
    [header]= "nombre | titlecase"
    subheader="SubHeader"
    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum temporibus totam cum dignissimos consequatur in voluptas doloribus dicta. Ipsam in cum voluptate labore dolor totam eos, nemo nam? Deleniti, aut!
</p-card>

<button 
    pButton 
    label="Cambiar Nombre" 
    icon="pi pi-bolt" 
    iconPos="right"
    (click)="mostrarNombre()"
    class="p-button-raised p-button-rounded p-button-warning"></button>
-->
