<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="flex">
    <p-card 
        class="m-3"
        header="Ventas Netas"
        subheader="del presente año">
        <i class="pi pi-euro"></i>
    </p-card>
    <p-card 
        class="m-3"
        header="Ventas Brutas"
        subheader="del presente año">
    </p-card>
    <p-card 
        class="m-3"
        header="Ganancias porcentual"
        subheader="del presente año">
    </p-card>
</div>