header{
	background-color: #FFC300;
	font-size: 36px;
	text-align: center;
	border-radius: 10px;
}
body, #survey-form{
	background-color: #FFD452;
}
footer{
	text-align: center;
}

#div1{	
	background-color: #FFC000;
	flex-direction: row;
	display: flex;
	border-radius: 10px;
}
#div2{
	background-color: #FFC000;
	margin-top: 10px;
	padding: 10px;
	padding-left: 23%;
	border-radius: 10px;
}
#div3{
	background-color: #FFC000;
	margin-top: 10px;
	padding: 10px;
	padding-left: 23%;
	padding-right: 23%;
	flex-direction: column;
	display: flex;
	border-radius: 10px;
}
#Lista1{
	order: 1;
	margin-left: 20%;
}

#pokeball{
	height: 200px;
	width: 200px;
	order: 2;
}
select.icon-menu option{
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 30px;
}
select#dropdown option[value="bulbasaur"]{
	background-color: #2EFF00;
}
select#dropdown option[value="charmander"]{
	background-color: #FF0000;
}
select#dropdown option[value="squirtler"]{
	background-color: #52F2FF;
}
