html {
	background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
}
header {
	flex-direction: row;
	display: flex;
	background-image: url("https://assets.pokemon.com/static2/_ui/img/gus/promo-bg.png");
	padding-left: 37%;
}
footer {
	text-align: center;
	margin-top: 30px;
}
#title {
	order: 1;
	font-size: 42px;
}
#tittle-ball1 {
	order: 0;
	width: 100px;
	height: 100px;
}
#tittle-ball2 {
	order: 2;
	width: 100px;
	height: 100px;
}
#description {
	background-color: blue;
	border-radius: 3px;
	text-align: center;
	padding-top: 5px;
	padding-left: -32%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 32%;
	margin-bottom: 20px;
	margin-left: 32%;
}
#survey-form{
	background-image: url("https://assets.pokemon.com/static2/_ui/img/gus/promo-bg.png");
	border-radius: 10px;
	padding-top: 5px;
	padding-left: -32%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 32%;
	margin-bottom: 20px;
	margin-left: 32%;
}